<?xml version='1.0' encoding='utf-8'?>
<beans xmlns='http://www.springframework.org/schema/beans'
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'  
    xmlns:mybatis='http://mybatis.org/schema/mybatis-spring'  
    xsi:schemaLocation='http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd   
    http://mybatis.org/schema/mybatis-spring
    http://mybatis.org/schema/mybatis-spring.xsd'> 

	<bean id='dataSource' class='org.springframework.jndi.JndiObjectFactoryBean'>
    	<property name='jndiName' value='java:comp/env/jdbc/hr2'/>
    	<property name='resourceRef' value='true'/>
    </bean>
	
	<bean id='sqlSessionFactory' class='org.mybatis.spring.SqlSessionFactoryBean'>
		<property name='dataSource' ref='dataSource'/>
		<property name='configLocation' value='classpath:kimyongtae/hr/config/sqlMapConfig.xml'/>
		<property name='mapperLocations'>
			<array>
				<value>classpath:kimyongtae/hr/dao/map/*Map.xml</value>						
			</array>
		</property>
	</bean>
	
	<mybatis:scan base-package='kimyongtae.hr.dao.map'/>
</beans>